<div class="container-fluid bg-success vh-auto d-flex justify-content-center">
  <div class="container-dashboard rounded">
    <div class="text-center border-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "pallet_town.png" %>);">
      <h1 class="head-dashboard">Welcome Back</h1>
      <img class="avatar-huge" alt="avatar-large" src="<%= image_path "ash.jpg" %>" />
      <p class="name-dashboard mt-2">Ash Ketchum</p>
    </div>
    <div>
      <div class="d-flex justify-content-between">
        <h1 class="ml-4 mt-4 head-dashboard">MY POKEMONS:</h1>
        <%= link_to "Add new pokemon", new_character_path, class: 'btn-add mr-4 mt-4' %>
      </div>

    <div class="row d-flex justify-content-center mychars">
      <%# <div class="d-flex"> %>
        <% @characters.each do |character| %>
          <div class="card-trip">
          <% if character.photo.attached? %>
            <%= cl_image_tag character.photo.key, crop: :fill%>
            <% else %>
            <img src="https://compote.slate.com/images/18ba92e4-e39b-44a3-af3b-88f735703fa7.png?width=780&height=520&rect=1560x1040&offset=0x0" alt="">
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to character.name, character_path(character) %></h2>
                <p><%= character.description %></p>
                <strong><%= link_to "Update", edit_character_path(character) %></strong>
              </div>
              <div class="card-trip-pricing">
                <h2>$<%= character.price %>/day</h2>
                <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
              </div>
            </div>
          </div>
        <% end %>
      <%# </div> %>
    </div>


    </div>
  </div>
</div>
