<div class="d-flex">
  <div class="col-xl-3 no-padding">
    <div class="dash dash-sidebar">
      <h1>Welcome back,</h1>
      <h1><%= @user.email%></h1>
      <div class="d-flex justify-content-around">
      <img class="avatar-huge" alt="avatar-large" src="<%= image_path "ash.jpg" %>" />
      </div>
    </div>
  </div>

  <div class="col-xl-9 no-padding">
    <div class="dash dash-content">
      <div class="dash-mychars">
        <h1>My Characters</h1>
      <div class="d-flex">
        <% @characters.each do |character| %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to character.name, character_path(character) %></h2>
                <p><%= character.description %></p>
              </div>
              <div class="card-trip-pricing">
                <h2>$<%= character.price %>/day</h2>
                <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="dash-mybooks">
        <h1>My Bookings</h1>
      <div class="d-flex">
        
      </div>









      </div>
    
    </div>
  
  </div>
</div>