<div class="container-fluid bg-success vh-auto d-flex justify-content-center">
  <div class="container-dashboard rounded">
    <div class="text-center border-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "pallet_town.png" %>);">
      <h1 class="head-dashboard">Welcome Back</h1>
      <img class="avatar-huge" alt="avatar-large" src="<%= image_path "ash.jpg" %>" />
      <p class="name-dashboard mt-2">Ash Ketchum</p>
    </div>
    <div>
      <div class="d-flex justify-content-between">
        <h1 class="ml-4 mt-4 head-dashboard">MY POKEMONS:</h1>
        <%= link_to "Add new pokemon", "/characters/new", class: 'btn-add mr-4 mt-4' %>
      </div>
      <div class="d-flex flex-wrap">
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div><div class="card m-4" style="width: 15rem;">
          <div class="text-center">
          <img src="<%= image_path "bulbasaur.png" %>" class="card-img-top" style="width: 10rem;" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark">Bulbasaur</h5>
            <p class="card-text text-dark"><strong>Description:</strong> Laundry, wash, cook.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
