<%# Landing page goes here %>
<div class="container-fluid bg-success vh-100">
  <div class="banner-container">
    <div class="banner-group">
      <h1 class="header text-white font-head">RENTAMON</h1>
      <h3 class="text-white font-sub">Famous characters for your home chores</h3>
      <div class="mt-4">
        <div class="d-flex justify-content-start">
          <div class="mr-5 form-group form-inline">
            <%= simple_form_for :search, method: "get" do |f| %>
                  <div class="d-flex">
                  <%= f.button :submit, "FIND A CHARACTER", class: "btn-rento mr-4" %>
                  <%= f.input :from, as: :string, required: false, input_html: {class: "datepicker mr-4"} %>
                  <%= f.input :to, as: :string, required: false, input_html: {class: "datepicker mr-4"} %>
                  </div>
                <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="square-box">
      <div>
        <div class="squares squares-pink"></div>
        <div class="squares squares-yellow"></div>
        <%= image_tag "bulbasaur.png", class: 'squares-image' %>
      </div>
    </div>
  </div>
</div>
