<%# Landing page goes here %>
<div class="container-fluid bg-success vh-100">
  <div class="banner-container">
    <div class="banner-group">
      <h1 class="header text-white font-head">RENTAMON</h1>
      <h3 class="text-white font-sub">Famous characters for your home chores</h3>
      <div class="mt-4">
        <div class="d-flex justify-content-start">
          <div class="mr-5 mt-2">
              <%= link_to "FIND A CHARACTER", '#', class: 'btn-rento' %>
          </div>
          <div class="mr-5 form-group form-inline">
            <label>From: </label>
            <input type="text" class="form-control">
          </div>
          <div class="mr-5 form-group form-inline">
            <label>To: </label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="square-box">
      <div>
        <div class="squares squares-pink"></div>
        <div class="squares squares-yellow"></div>
        <%= image_tag "bulbasaur.png", class: 'squares-image' %>
      </div>
    </div>
  </div>
</div>




<% if user_signed_in? %>
<h2>WHATS UP <%= current_user.email%></h2>

<%= link_to "See all available Characters", "/characters" %>
<br>
<%= link_to "Create Character", "/characters/new" %>
<% end %>
