<div class="new-form">
  <h2>Create a new character to book out</h2>

  <%= simple_form_for @character do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :category %>
    <%= f.input :description %>
    <div class="d-flex justify-content-center">
    <%= f.submit "Add Character", class:"btn btn-lg btn-success" %>
    </div>
  <% end %>
</div>
