<div class="row">
  <% @characters.each do |character| %>
    <div class="col-lg-3">
      <div class="character-card">
        <ul>
          <li><h3><%= link_to character.name, character_path(character) %> </h3></li>
          <li>Price: $<%= character.price %>/day</li>
          <li>Category: <%= character.category %></li>
          <li>Address: <%= character.address %></li>
          <li>Owner: <%=character.user.email%></li>
          <li><%= link_to "Click for details", character_path(character) %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
