<div class="container-fluid vr-100 d-flex char-index">
  <div class="char-all vr-100">
    <div class="row d-flex justify-content-center">
      <h4 class="m-2">POKEMONS AVAILABLE FOR YOUR SEARCH:</h1>
      <div>
        <% @characters.each do |character| %>
            <div class="card-product m-4">
              <%= cl_image_tag character.photo.key, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= link_to character.name, character_path(character) %></h2>
                <p>Category: <%= character.category %></p>
                <strong><p>Price: $<%= character.price %>/day</p></strong>
                <h2><%= link_to "+ more details", character_path(character) %></h2>
              </div>
            </div>
        <% end %>


      </div>
    </div>
  </div>
  <div class="char-map mt-4">
    <h4 class="text-center m-2">POKEMON LOCATION:</h4>
    <div id ="map" class ="location"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
