<div class="container-fluid vr-100 d-flex justify-content-center align-items-center">
  <div class="container-show d-flex justify-content-center">
    <div class="new-form">
      <div class="d-flex justify-content-around mt-4">
        <div>
          <h1><%=@character.name.upcase%></h1>
        </div>
        <div>
          <h1>Price: $<%= @character.price %>/day</h1>
        </div>
      </div>
      <div class="d-flex justify-content-around mt-2">
        <%= cl_image_tag @character.photo.key, height: 300, width: 400, crop: :fill %>
        <div class=" d-flex align-items-center">
          <div>
            <p>Category: <%= @character.category %></p>
            <p>Address: <%= @character.address %></p>
            <p>Description: <%= @character.description %></p>
            <p>Owner: <%=@character.user.email%></p>
            <div class="text-center">
              <% if policy(@character).edit? %>
                <%= link_to "Update", edit_character_path(@character), class: "btn-update" %>
              <% end %>

              <% if policy(@character).destroy? %>
                <%= link_to "Delete", character_path(@character), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-delete"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="m-4">
        <h1>REVIEWS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
        autem distinctio nemo exercitationem dolores quaerat soluta non,
        deserunt in ullam nesciunt dolore enim illo nobis quidem voluptas ipsa.
        Odit, ad.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
        autem distinctio nemo exercitationem dolores quaerat soluta non,
        deserunt in ullam nesciunt dolore enim illo nobis quidem voluptas ipsa.
        Odit, ad.</p>
      </div>
    </div>
  </div>
</div>

